/*== variables ==*/
/*== Gallery settings ==*/
/*/////////// Make navbar work without JS (progressive enhancement) ///////////*/
#navbar-toggle-cbox {
  display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}
/*//////////// Utility ///////*/
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/*/////////// navbar ///////////*/
.navbar {
  margin: 0;
}
.navbar li a {
  font-size: 16px;
}
.navbar-inverse {
  background-image: none;
  background-color: #0C0C0C;
  background-repeat: repeat-x;
  border-radius: 0px;
  border-bottom: 4px solid orange;
  position: relative;
  z-index: 100;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: orange;
}
/*////////// brand ////////////*/
.nametag .first-name {
  color: white;
}
.nametag .last-name {
  color: orange;
}
/*//////// globals ////////*/
main {
  min-height: 1300px;
}
/*///////////  body /////////////*/
h1 {
  text-transform: uppercase;
  font-weight: 900;
}
p {
  font-weight: normal;
  font-size: 16px;
}
body {
  background-color: #2B2A2A;
  font-family: helvetica;
  font-weight: 600;
  color: #9d9d9d;
}
/*//////////// gallery ////////////////*/
/*===== pure css expand feature =========*/
.thumbnail .fullsize-link {
  display: none;
  background-color: #0c0c0c;
  text-align: center;
  line-height: 40px;
  box-shadow: rgba(0, 0, 0, 0.47) 0 5px 2px;
}
.thumbnail:focus {
  outline: none;
  width: 100%;
  height: 1024px;
  background-position: 50% !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.thumbnail:focus .info-overlay {
  display: none;
}
.thumbnail:focus .fullsize-link {
  display: block;
}
/*=====================================*/
.modal-content {
  background-color: black;
  border-radius: 0px;
}
.modal-body img {
  width: 100%;
}
.modal-title {
  text-transform: uppercase;
  font-weight: 900;
}
.modal-header,
.modal-footer {
  border-color: #3C3B3B;
  padding: 5px 15px 5px 15px;
}
.modal-dialog {
  width: auto;
  margin-top: 80px;
  margin-right: 15%;
  margin-bottom: 50px;
  margin-left: 15%;
}
/* thumbnails */
.thumbnail {
  display: block;
  float: left;
  background-position: 50%, 50%;
  background-size: cover;
  background-color: inherit;
  width: 300px;
  height: 500px;
  padding: 0;
  border-radius: 0;
  border: none;
  overflow: hidden;
  position: relative;
  margin: 0;
}
/*section.info-overlay:hover*/
@-moz-keyframes details-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes details-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes details-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes details-background-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes details-background-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes details-background-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
.thumbnail .info-overlay:hover {
  -webkit-animation: details-fade-in 0.5s ease-out forwards;
  -moz-animation: details-fade-in 0.5s ease-out forwards;
  animation: details-fade-in 0.5s ease-out forwards;
  text-shadow: black 1px 1px 1px;
  padding-left: 4px;
  border: solid orange 1px;
}
.thumbnail .info-overlay:hover:before {
  -webkit-animation: details-background-fade-in 0.5s ease-out forwards;
  -moz-animation: details-background-fade-in 0.5s ease-out forwards;
  animation: details-background-fade-in 0.5s ease-out forwards;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJElEQVQYV2NkwAT/GRgYGJGFUThQCRorAhmPFwyAm9DdgxEEAORECQlt3qIUAAAAAElFTkSuQmCC);*/
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQYV43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKjIiEFQAAAABJRU5ErkJggg==);
}
.thumbnail .info-overlay {
  position: absolute;
  width: 300px;
  height: 500px;
  padding-left: 300px;
  border: solid black 1px;
}
.thumbnail .info-overlay h2 {
  width: auto;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: solid 3px #4970c7;
  padding-bottom: 10px;
}
.thumbnail .info-overlay .content {
  margin-top: 75%;
  padding: 15px;
  color: #f3f3f3;
  position: relative;
}
.thumbnail .info-overlay .content .zoom {
  font-size: 50px;
  margin-left: 40%;
  margin-top: -90px;
  opacity: 0.5;
}
.thumbnail .info-overlay .software img {
  width: 25%;
  height: auto;
  display: inline-block;
}
/* ///////   Full screen view bit ////////// */
.full-screen img {
  width: 100%;
  max-width: 1920px;
}
#modal-full-screen .close {
  overflow: visible;
  float: none;
  text-shadow: none;
  opacity: 0.5;
  float: right;
  margin-top: 5px;
  height: 15px;
  outline: none;
}
#modal-full-screen .close:hover {
  opacity: 0.9;
}
.full-screen .close img {
  width: auto;
}
.full-screen .info {
  height: 0;
  margin-left: 10px;
}
.full-screen .info a.view-fullsize {
  color: white;
  font-weight: 600;
  opacity: 0.6;
  text-decoration: none;
}
.full-screen .info a.view-fullsize:hover {
  opacity: 0.9;
}
/*////////////////////   skills      /////////////////////////*/
.skills-software .software * {
  display: inline-block;
}
.skills-software .software img {
  width: 55px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.skills-software .software span {
  color: white;
  font-size: 18;
  width: 100px;
  vertical-align: middle;
}
.skills-software .software .progress {
  width: 200px;
  margin: 0 0 0 20px;
  vertical-align: middle;
  border-radius: 0;
}
.skills-software .software .progress-bar {
  font-size: 18;
}
/* art/expertise */
.row.skill {
  margin-bottom: 10px;
}
.skills-art .skill * {
  display: inline-block;
}
.skills-art .skill span {
  color: white;
  font-size: 18;
  width: 300px;
  vertical-align: middle;
  margin-left: 15px;
}
.skills-art .skill .progress {
  width: 200px;
  margin: 0 0 0 20px;
  vertical-align: middle;
  border-radius: 0;
}
.skills-art .skill .progress-bar {
  font-size: 18;
}
/*////////// about    //////////////*/
img.profile-image {
  float: left;
  margin-right: 10px;
  max-width: 256px;
  max-height: 256px;
}
/*////////// Footer ////////////*/
footer {
  background: url("../img/footer.png");
  background-size: auto 100%;
  background-position: 50%;
  height: 256px;
  width: 100%;
  bottom: 0;
  position: relative;
}
