{% set name = "about" %}
{% set title = "Paul Le Henaff - About" %}
{% extends "src/includes/main.html" %}

{% block main %}
	<div class="container">
		<h1>About</h1>
		<img src="img/profile.jpg" class="profile-image"></img>
		<p>
			My name is Paul Le Henaff. I love the CG arts and spend most of my time working on videos game assets, still renders and animations.
		</p>
		<p>
			I have used Blender for a number of years and am very comfortable with it. Today it's my software of choice for modeling. In the past I have used XSI and 3DS Max but switched to Blender because at the time it could do a lot more than the others e.g. Sculpting, and it has a great community (and it's free!).
		</p>
		<p>
			Currently my main focus is making Physically Based Rendering (PBR) ready assets for UE4.
		</p>
		<p>
			I have a number of years of experience working as part of indie teams. I started when I was 12, learning about mods in Half Life 2 and Grand Theft Auto 3. I quickly learned Photoshop and XSI Mod tool to create new assets and added them to the game.
		</p>
		<p>
			Then, I learned about XNA Game Studio. It was an SDK which allowed developers to create and publish games through the XBox Live Arcade marketplace. I joined a small indie team as a 2D artist and created all the sprite assets and animations for sidescroller platformer and space shooter games.
		</p>
		<p>
			These days, I'm the Art Lead at <a href="http://www.druidgameworks.com/" target="_blank">Druid Gameworks</a>. We are working on an open world RPG built in UE4 called Witanlore.
		</p>
		<a href="https://github.com/gordon13?tab=repositories">https://github.com/gordon13?tab=repositories</a>
	</div>
{% endblock %}
